<!DOCTYPE html>
<html>
<head>
@@include('../common/meta.html')
<title>首页</title>
@@include('../common/link.html')
@@include('../common/script-head.html')
</head>
<body>
    <div class="contBorder wehouse">
        <a href="http://weixin.db.house.qq.com/consultant/bj_172693/" class="more" bosszone="boss3355,wapsaler"><i></i>查看全部</a>
        <h3>官微消息</h3>
        <div class="tsrWarp">
            <a class="pic" href="http://m.db.house.qq.com/index.php?mod=photo&act=specifics&houseid=167731&picid=837349">
                <img src="http://p0.qpic.cn/estate/0/1c200edb9c0028cb820af9bb75a54910.jpg/1024"></img>
                <p class="desc">海口美丽沙开盘热销，导居模式即刻开启</p>
            </a>
            <div class="tsrIntr">
				<b class="icon"><img src="http://p3.qpic.cn/estate/0/9ee0ed49f7a409145c1d5b85b4e2bfab.jpg/135"></b>
				<p class="txt">[海岛花二期] 让你陶醉的东方夏威夷</p>
            </div>
            <div class="tsrIntr">
                <b class="icon"><img src="http://p3.qpic.cn/estate/0/9ee0ed49f7a409145c1d5b85b4e2bfab.jpg/135"></b>
                <p class="txt">火火火，海花岛全新二期火热上市，错 过2016，不要再错过2016</p>
            </div>
        </div>
        <ul class="buttonSection column-3">
            <li class="buttonItem"><a href="www.baidu.com">微楼书</a></li>
            <li class="buttonItem"><a href="www.baidu.com">户型赏析</a></li>
            <li class="buttonItem"><a href="www.baidu.com">全景看房</a></li>
        </ul>
    </div>
    <footer></footer>
@@include('../common/script-foot.html')
<script>
// php配置项输出区域

</script>
<script src="../js/entry/page/home.js"></script>

</body>
</html>
