<!-- header -->
<div class="pl-header">
    <div class="header-wrap clearfix">
        <a href="www.baidu.com" class="logo"></a>
        <a href="www.baidu.com" class="city">
            <i class="arrow"></i>北京
        </a>
        <ul class="clearfix">
            <li class="account">
                <a class="icon icon-account" href="www.baidu.com"></a>
            </li>
            <li class="info">
                <a class="icon icon-ask" href="www.baidu.com"></a>
            </li>
        </ul>
    </div>
    @@include('../mods/city.html')
</div>

<!-- /header -->
